html {
    height: 15000px;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

#header {
    position: absolute;
    line-height: 100px;
    z-index: 1;
    left: 360px;
    right: 360px;
    color: white;
}

#header .container h1 {
    width: 135px;
}

#header nav {
    margin: 0 0 0 auto;
}

#header nav>ul {
    display: flex;
}

#header nav>ul>li>a {
    padding: 0 20px;
    font-size: 15px;
}

#header nav>ul>li~li::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    background: white;
}

#header .btn {
    margin: 0 0 0 15px;
}

#header .btn i {
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

.mainVisual .mainSlider figure {
    position: relative;
    height: 100vh;
}

.mainVisual .mainSlider .itm01 {
    background: url(../img/mv01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlider .itm02 {
    background: url(../img/mv02.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlider .itm03 {
    background: url(../img/mv03.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlider .inner {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);

}

.mainVisual .mainSlider .inner h2 {
    font-size: 50px;
    font-weight: 200;
    color: white;
    line-height: 1.4;
    margin: 0 0 40px 0;
}

.mainVisual .mainSlider .inner p {
    font-size: 15px;
    font-weight: 200;
    color: white;
    line-height: 1.4;
}

.mainVisual .mainSlider .slick-dots {
    position: absolute;
    inset: auto auto 100px 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .mainSlider .slick-dots li {
    display: inline-block;
}

.mainVisual .mainSlider .slick-dots button {
    border-radius: 50%;
    outline: none;
    border: none;
    width: 10px;
    height: 10px;
    font-size: 0;
    margin: 0 5px;
    background: white;
}

.mainVisual .mainSlider .slick-dots li.slick-active button {
    background: transparent;
    border: 1px solid white;
}

.mainVisual .mainSlider .slick-prev {
    position: absolute;
    z-index: 1;
    inset: auto auto 110px 47.5%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    width: 10px;
    height: 10px;
    font-size: 0;
    background: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform: rotate(-45deg);
}

.mainVisual .mainSlider .slick-next {
    position: absolute;
    z-index: 1;
    inset: auto auto 110px 52%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    width: 10px;
    height: 10px;
    font-size: 0;
    background: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform: rotate(135deg);
}

.section01 .container01 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: space-between;
}

.section01 .container01 .inner01 {
    margin: auto 0;
}

.section01 .container01 h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 30px 0;
    transform: translate(-8px);
}

.section01 .container01 h2 span {
    font-size: 50px;
    font-weight: 500;
}

.section01 .container01 p {
    font-size: 15px;
    font-weight: 200;
    color: #767676;
    line-height: 1.4;
    margin: 0 0 40px 0;
}

.section01 .container01 a {
    display: inline-block;
    padding: 8px 20px 10px 20px;
    border-radius: 20px;
    color: #959595;
    background: transparent;
    border: 1px solid #959595;

    transition: 0.5s;
}

.section01 .container01 a:hover {
    background: #959595;
    color: white;
}

.section01 .container01 figure {
    width: 480px;
    height: 780px;
    overflow: hidden;
    border-radius: 240px 240px 0 0;
}

.section02 {
    position: relative;
    height: 1000px;
}

.section02 .container02 {

    width: 100%;
    height: 400px;
    background: #f1f1f1;
}

.section02 .container02 .inner02 {
    width: 1200px;
    text-align: right;
    margin: 0 auto;
    padding: 150px 0;
}

.section02 .container02 .inner02 h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 30px 0;
}

.section02 .container02 .inner02 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    color: #767676;
}

.section02 .container02 .slider02 {
    width: 65%;
    margin: -230px auto 0 -160px;
    padding: 150px 0;
    transform: translatey(-250px);
    text-align: center;
}

.section02 .container02 .slider02 figure {
    width: 380px;
    height: 600px;
    overflow: hidden;
    border-radius: 190px;
    margin: 0 0px 20px 0px;
}

.section02 .container02 .slider02 h2 {
    font-size: 21px;
    font-weight: 400;
    margin: 0 0 20px 0;
    width: 380px;
}

.section02 .container02 .slider02 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    width: 380px;
}

.section02 .slick-next {
    position: absolute;
    background: url(../img/arrow-right.png);
    right: -470px;
    bottom: 150px;
    font-size: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}

.section02 .slick-prev {
    position: absolute;
    background: url(../img/arrow-left.png);
    right: -420px;
    bottom: 150px;
    font-size: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}

.section02 .container02 .content {
    display: flex;
}

.section03 {
    width: 100%;
    height: 400px;
    padding: 110px 100px;
    text-align: center;
    color: white;
    background: url(../img/section03-bg.jpg)no-repeat fixed center top/cover;
}

.section03 h2 {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
}

.section03 a {
    display: inline-block;
    padding: 8px 20px 10px 20px;
    border-radius: 20px;
    background: transparent;
    font-size: 15px;
    border: 1px solid white;
    transition: 0.5s;
}

.section03 a:hover {
    background: white;
    color: rgb(13, 62, 13);
}