.face {
    width: 500px;
    height: 500px;
    background: rgb(255, 231, 13);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face li {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 3px solid rgb(104, 71, 0);
    border-right: 3px solid rgb(104, 71, 0);
    transition: 1s;
}

.face li:nth-child(1) {
    right: 150px;
    bottom: 300px;
    transform: rotate(135deg);
}

.face li:nth-child(2) {
    right: 300px;
    bottom: 300px;
    transform: rotate(135deg);
}

.face li:nth-child(3) {
    right: 225px;
    bottom: 100px;
    transform: rotate(315deg);
}