.Header {
    position: fixed; background: black;

    .gnb {
        width: 300px; height: 100vh; padding: 40px 0 50px 40px; display: flex; flex-direction: column; justify-content: space-between;

        h1 { margin: 0 0 20px 0; }
        .intro {
            color: #888; font-size: 15px; letter-spacing: -0.025; height: 800px;

            span { color: white; font-weight: 700; }
        }
        .main_nav {
            li { font-size: 20px; margin: 0 0 20px 0;  color: #888; }
        }
    }
}