@use'common';

.MainWrap {
	background: black;
	.Main {


		.MainInner {
			 margin: 0 0 0 310px; padding: 10px 10px 100px 0;

			.list { display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; }
		}
	}
}
@media(max-width:768px) {

	.MainWrap {
		background: black;
		.Main {
	
	
			.MainInner {
				margin: 0 0 50px 0; padding: 0;
	
				.list { display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; }
			}
		}
	}
}