.Namkwang {
    .img01 { margin-left: 0; margin-right: calc((100vw - 1510px)/2); width: calc(1200px + ((100vw - 1510px)/2)); }
    .strategy { background: url(../../public/assets/img/sub04_02.png)no-repeat center center/cover; height: 650px; }
    .develop01 { background: url(../../public/assets/img/sub04_04.png)no-repeat center center/cover; height: 700px; }
    .develop02 { background: #f1f1f1; }
}

@media(max-width:768px) {
    .Namkwang {
        .img01 { margin-left: 0; margin-right: 15px; width: calc(100% - 15px); }
        .strategy { background: url(../../public/assets/img/sub04_02_2.png)no-repeat bottom/cover; height: 300px; }
        .develop01 { background: url(../../public/assets/img/sub04_04_2.png)no-repeat right bottom/cover; height: 350px; }
        .develop02 { background: #f1f1f1; }
        .inner_sec { padding: 50px 0; }
    }
  
}