.Namkwang {
    .img01 { margin-left: 0; margin-right: calc((100vw - 1500px)/2); width: calc(1200px + ((100vw - 1500px)/2)); }
    .strategy { background: url(../../public/assets/img/sub04_02.png)no-repeat center center/cover; height: 650px; }
    .develop01 { background: url(../../public/assets/img/sub04_04.png)no-repeat center center/cover; height: 700px; }
    .develop02 { background: #f1f1f1; }
}