.Sealife {

    .inner1200 {
        .img {
            display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin: 0 0 100px 0;

            .img01 { grid-column-start: 1; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2; }
            .img02 { grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 3; object-fit: cover; height: 450px; border-radius: 10px; }
            .img03 { grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3; }
        }
    }
}
@media(max-width:768px) {


    .Sealife {
        .banner{ object-fit: cover; height:250px; }

        h2,h3 { font-size: 20px; margin: 0 0 10px 0; }
        p,strong { width: 100%; white-space: unset; font-size: 14px; word-break: keep-all; margin: 0 0 20px 0; }
        
        .inner1200 {
            .img {
                display: flex; flex-direction: column; gap: 10px; margin: 0 0 100px 0;

                .img02 { object-fit: cover; height:200px; border-radius: 5px; }
            }
        }
    }
}
